# Specifies the dynamic library to be loaded and functions to be exported
# Author: Yi Zhang
# Date: Sep 8, 2008

useDynLib(riotdb)

# methods for new dbvector go here
export(seq.db, matrix.db, matrix.db.vector, complex.db, logical.db, length.dbvector, mean.dbvector, sort.dbvector, load.dbvector, load.dbmatrix, persist, materialize, solve.dbmatrix, print.db)
